.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  }
  .row > div {
    background: lightgrey;
    border: 1px solid;
  }
  html{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #4D4D4D;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  div.streetview{
    height: 100%;
    margin: 0;
    padding: 0;
  }

  form{
    padding-left: 1.5rem;
    padding-right:  1.5rem;
  }
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  div.carousel-caption{
    color: rgb(255, 255, 255);
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  }
  .btn-primary{
    color: #020202;
    background-color: #44FFD1;
    border-color: #004b55;
  }
  #controls {
    width: 250px;
    height: 290px;
    bottom: 0;
    right: 0;
    position: absolute;
      z-index: 200;
    color: #44FFD1;
    transition: all, 0.2s;
  }
  #wrpr {
    height:600px;
    position: absolute;
    bottom: 10px;
    right: 0px;
  }
  #mode {
      display: none
  }
  #submit{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #controls:hover{
    width: 500px;
    height: 540px;
  }
  #controls:hover #map{
      width: 500px;
      height: 500px;
  }
  #score{
    position: relative;
    top:75px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 201;
  }
  #map{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    right: 0;
    transition: all, 0.2s;
    float: right;
  }
  #submit{
    width: 100%;
  }

  #controls.wrapper {
      position: relative;
      direction: rtl;
  }
  #controls.wrapper > *{
    direction: ltr;
  }
  span.input-group-addon{
    color: #44FFD1;
    background-color: #005C69;
    border-color: #004b55;
  }
  /* navbar */
  .navbar {
    background-color: #020202;
  }
  .navbar .navbar-brand {
    color: #44FFD1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #00ba8c;
  }
  .navbar .navbar-text {
    color: #44FFD1;
  }
  .navbar .navbar-nav .nav-link {
    color: #44FFD1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #00ba8c;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #00ba8c;
    background-color: #005C69;
  }
  .navbar .navbar-toggle {
    border-color: #005C69;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #005C698;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #44FFD1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #44FFD1;
  }
  .navbar .navbar-link {
    color: #44FFD11;
  }
  .navbar .navbar-link:hover {
    color: #44FFD1;
  }

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #44FFD1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #00ba8c;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #00ba8c;
      background-color: #005C69;
    }
  }

  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #44FFD1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #00ba8c;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #00ba8c;
      background-color: #005C69;
    }
  }

  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #b2b3cc;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #b2b3cc;
      background-color: #3d4498;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #b2b3cc;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #b2b3cc;
      background-color: #3d4498;
    }
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #b2b3cc;
  }w
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #b2b3cc;
    background-color: #3d4498;
  }
