body {
	background: url('../images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff
  }
	.btn-primary{
		color: #fff;
		background-color: #375a7f;
		border-color: #375a7f;
	}

	.btn-primary:hover {
		color: #fff;
		background-color: #28415b;
		border-color: #243a53;
	}
	.lead{
		margin:10px;
		padding:10px;
	}
	.btn-success {
		color: #fff;
		background: linear-gradient(to top right, #0033FF, #FF0000);
		border-color: #FFF
	}
	.album {
		min-height: 50rem; /* Can be removed; just added for demo purposes */
		padding-top: 3rem;
		padding-bottom: 3rem;
	  }
	  
	  .card {
		float: left;
		width: 33.333%;
		padding: .75rem;
		margin-bottom: 2rem;
		border: .1;
		background-color: rgba(255, 255, 255, 0);
		border-color: #FFF;
		color: #fff;
	  }
	  .active, .card:hover{
		transition: all, 0.5s;
		color: #000;
		border-color: #000;
		background-color: rgba(255, 255, 255, .6);
	  }
	  .card > img {
		margin-bottom: .75rem;
	  }
	  
	  .card-text {
		font-size: 125%;
		opacity: 1;
	  }
	  img{
		  height: 280px
	  }