{% extends "uniTemp.html" %}
{% block content1 %}
<body>
  <center>
      {% set messages = get_flashed_messages() %}
      {% for message in messages %}
      {{ message }}
      {% endfor %}
<br><br><br>
<table class="table table-hover table-inverse" border = "1">
  <thead class="thead thead-inverse">
        <tr>
          <th> Username </th>
          <th> Points </th>
	  </thead>
        </tr>
        {% for ranking in lb %}
        <tr {% if ranking[0] == user %} class ="bg-primary" {% endif %}  >
          <td> {{ ranking[0] }} </td>
          <td> {{ ranking[1] }} </td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}
