{% extends "loginbase.html" %}
{% block content1 %}
    <div class="container">
        {% set messages = get_flashed_messages() %}
              <form method = "POST" action="/user_creation" class="form-signin">
                <h2 class="form-signin-heading">Please Register. </h2>
                {% if messages[0] == "Username already exists." %}
                <label for="inputEmail" class="sr-only is-invalid">Username</label>
                <input type="user" id="inputEmail" name="username" class="form-control is-invalid" placeholder="Username" required autofocus>
                  <h3 id="passwordHelp" class="text-danger">
                    Username already exists.
                  </h3>
                {% else %}
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="user" id="inputEmail" name="username" class="form-control is-valid" placeholder="Username" required autofocus>
                {% endif %}

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password required" required>
                {% if messages[0] == "Passwords do not match." %}
                <label for="inputPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="inputPasswordconfirm" name = "confirm" class="form-control is-invalid" placeholder="re-type password" required>
                  <h3 id="passwordHelp" class="text-danger">
                    Passwords must match.
                  </h3>
                {% else %}
                <label for="inputPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="inputPasswordconfirm" name = "confirm" class="form-control" placeholder="re-type password" required>
                {% endif %}
    	    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submitType" value="Sign up">Sign up</button>
              </form>
            </div>
{% endblock %}
